fastapi
chromadb
bm25s
polars
pydantic
nltk 
spacy 
clean-text 
feedparser 
langchain 
huggingface_hub 
langchain-community 
langchain-core 
langchain 
pydantic-settings
langchain-huggingface
llama-cpp-python
uvicorn